.App_main {
  position: relative;
  height: 100vh;
  padding-top: 10rem;
}

.App_list {
  display: block;
  padding: 0 2rem 2rem 2rem;
  height: calc(100vh - 10rem);
  overflow-x: hidden;
}

.App_controls {
  position: absolute;
  transition: transform 200ms ease;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  background: var(--greyLight-1);
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
    -0.2rem -0.2rem 1.8rem var(--white);

  transform: translate3d(0, 100%, 0);
}

.App_track_selected .App_controls {
  transform: translate3d(0, 0, 0);
}

.App_track_selected .App_main {
  padding-bottom: 12rem;
}

.App_track_details {
  display: none;
}

@media screen and (min-width: 769px) {
  .App_track_details {
    display: block;
    position: absolute;
    height: 100vh;
    transition: transform 200ms ease;
    top: 0;
    right: 0;
    width: 60vw;
    overflow-x: hidden;
    background: var(--greyLight-1);
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
      -0.2rem -0.2rem 1.8rem var(--white);

    transform: translate3d(100%, 0, 0);
  }

  .App_controls {
    display: none;
  }

  .App_track_selected .App_main {
    width: 40vw;
  }

  .App_track_selected .App_track_details {
    transform: translate3d(0, 0, 0);
  }
}
